.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: black;
    border-radius: 10px;
}

.devices {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

sup {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.header-svg-wrapp {
    display: flex;
    align-items: center;
}

.svg-favourite {
    margin-right: 10px;
    cursor: pointer;
}

.red-cart {
    fill: #ff0000;
}

.white-cart {
    fill: #cbc9c9;
}